# Bonus Challenge 1 - T-test

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_re`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [18]:
# Import libraries
import pandas as pd
import numpy as np

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use Ironhack's database to load the data (db: pokemon, table: pokemon_stats).

In [3]:
data = pd.read_csv(r'C:\Users\Lenovo\Documents\Ironhack\DATA\pokemon.csv')
data.shape
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [35]:
s1=data.sample(10)
s2=data.sample(10)
from scipy import stats

In [39]:
features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']

def t_test_features(s1, s2, features):
    
    result={}
    for i in features: 
        result[i] = stats.ttest_ind(s1[i],s2[i]).pvalue

    return result

t_test_features(s1, s2, features)

{'HP': 0.09713112019645688,
 'Attack': 0.15375432888568014,
 'Defense': 0.40980573141969256,
 'Sp. Atk': 0.8958561371568347,
 'Sp. Def': 0.40786667948135236,
 'Speed': 0.4723010461307626,
 'Total': 0.13911770651307923}

[Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 [

In [52]:
# Your code here
s1 = data[data['Legendary'] == False]
s2 = data [data['Legendary'] == True]
t_test_features(s1, s2, ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'])

{'HP': 3.330647684846191e-15,
 'Attack': 7.827253003205333e-24,
 'Defense': 1.5842226094427255e-12,
 'Sp. Atk': 6.314915770427266e-41,
 'Sp. Def': 1.8439809580409333e-26,
 'Speed': 2.3540754436897763e-21,
 'Total': 3.0952457469652825e-52}

In [28]:
s1

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
the pvalue are very low, less than alpha, so they have significantly different stats

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [40]:
s1 = data[data['Generation'] == 1]
s2 = data [data['Generation'] == 2]
t_test_features(s1, s2, ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'])

{'HP': 0.13791881412813622,
 'Attack': 0.24050968418101457,
 'Defense': 0.5407630349194362,
 'Sp. Atk': 0.141197881763315,
 'Sp. Def': 0.16781226231606386,
 'Speed': 0.0028356954812578704,
 'Total': 0.559914064901444}

#### What conclusions can you make?

In [ ]:
Their pvalue are higher than alpha, so they have significantly same stats

#### Compare pokemons who have single type vs those having two types.

In [42]:
s1 = data[data['Type 2'].isnull()]
s2 = data [data['Type 1'].notnull()]
t_test_features(s1, s2, ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'])

{'HP': 0.3615982199451947,
 'Attack': 0.023460626833410488,
 'Defense': 0.0008833625255187179,
 'Sp. Atk': 0.02301331008033608,
 'Sp. Def': 0.021919366726054615,
 'Speed': 0.18509321950020335,
 'Total': 0.0016778638196115571}

#### What conclusions can you make?

In [ ]:
## only HP and Speed are significantly close

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [56]:
s1 = data['Attack'] - data['Defense']

s2 = data['Sp. Atk'] - data['Sp. Def']
y=stats.ttest_ind(s1,s2).pvalue
y

0.008316859771593346

#### What conclusions can you make?

In [ ]:
they are signicantly close